.env

__pycache__
venv

stats/stats.json
stats.json
stats/*

config.json
data/*
data

cache
cache/*

logs/*
logs

.vscode
.idea

.mypy_cache
.dmypy.json

modules/tests.py
*.db
*.db.backup
*.db-wal
*.db-shm