# discord
git+https://github.com/Rapptz/discord.py
jishaku
discord-ext-ipcx

# async
asyncio
aiofiles

# terminal
typer
rich
colorama

# networking
fastapi
fastapi-discord
quartcord
quart_cors
quart
requests

# other
python-dotenv 
aiosqlite
pillow
psutil
python-dateutil