<html>
    <head>
        <title>Codygen</title>
    </head>
    <style>
        :root{
            background-color: rgb(49, 49, 49);
            color: white;
            font-family: "JetBrains Mono";
            text-align: center;
        }
        h1 {
            font-weight: 1000;
            margin-top: 100px;
            background: linear-gradient(45deg, rgb(0, 225, 255), rgb(255, 0, 255));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

    </style>
    <body>
        <h1>Successfully authenticated</h1>
        <h2>You can now close this window.</h2>
    </body>
</html>